[tool.poetry]
name = "sincpro-framework"
version = "2.1.5"
description = "Sincpro framework to use DDD, Clean architecture, Hexagonal architecture"
authors = ["Gutierrez Andres <andru1236@gmail.com>"]
readme = "README.md"
packages = [{include = "sincpro_framework"}]
license = "MIT"

[tool.poetry.dependencies]
python = "^3.10"
dependency-injector = "^4.43.0"
pydantic = "^2.9.2"
structlog = "^24.4.0"
pyyaml = "6.0.1"


[tool.poetry.group.dev.dependencies]
isort = "^5.13.2"
black = "^24.10.0"
pytest = "^8.3.4"
ipython = "^8.28.0"
autoflake = "^2.3.1"
pyright = "^1.1.391"
jupyterlab = "^4.3.4"
mypy = "^1.14.1"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.pylint]
disable = [
    "missing-docstring",
    "fixme",
    "C0103",
    "C0301",
    "R0903",
    "C0413",
    "W1203",
    "I1101",
    "W1309",
    "R0902",
    "C0415",
]

[tool.black]
line-length = 94